<form [formGroup]="form">

  <div class="form-group">
    <label for="old-password">Old password:
    </label>
    <input formControlName="old" type="text" id="old-password" class="form-control">

  </div>
  <div *ngIf="old.touched && old.invalid" class="alert alert-danger">
    <div *ngIf="old.errors.required">Old password is required.</div>
    <div *ngIf="old.errors.passwordIsInvalid">This password is Invalid</div>
  </div>

  <div formGroupName="confirmation" class="form-group">
    <div class="form-group">
      <label for="new-password">New password:
      </label>
      <input formControlName="new" type="text" id="new-password" class="form-control">
    </div>
    <div *ngIf="new.touched && new.invalid" class="alert alert-danger">
      <div *ngIf="new.errors.required">New password is required.</div>
    </div>


    <div class="form-group">
      <label for="confirm-password">Confirm password:
      </label>
      <input formControlName="confirm" type="text" id="confirm-password" class="form-control">
    </div>

    <div *ngIf="confirm.touched && confirmation.invalid" class="alert alert-danger">
      <div *ngIf="confirm.errors?.required">Confirm password is required.</div>
      <div *ngIf="confirmation.errors.passwordDoesNotMatch">This password does not match</div>
    </div>
  </div>

  <input [disabled]="!form.valid" class="btn btn-primary" type="submit" value="Submit">
</form>